* {
    text-align: justify;
    text-justify: inter-word;
    margin: auto ;
    margin-left: 10px;

}

.title {
    text-align: center;
    margin: 1em 0 0.5em 0;
	  color: #343434;
	  font-weight: normal;
    font-family: 'Raleway',sans-serif;
	  /* font-family: 'Ultra', sans-serif; */
	  font-size: 36px;
	  line-height: 42px;
	  text-transform: uppercase;
	  text-shadow: 0 2px white, 0 3px #777;
}

h1 {
    width: 500px;
    text-align: center;
    margin: 1em 0 0.5em 0;
	  color: #343434;
	  font-weight: normal;
	  font-family: 'Ultra', sans-serif;
	  font-size: 30px;
	  line-height: 42px;
	  text-transform: uppercase;
	  text-shadow: 0 2px white, 0 3px #777;
}

h2 {
    width: 500px;
    margin: 1em 0 0.5em 0;
	  color: #343434;
	  font-weight: normal;
	  font-family: 'Ultra', sans-serif;
	  font-size: 20px;
	  line-height: 42px;
	  text-transform: uppercase;
	  text-shadow: 0 2px white, 0 3px #777;
}

h3 {
    width: 500px;
    margin: 1em 0 0.5em 0;
	  color: #343434;
	  font-weight: normal;
	  font-family: 'Ultra', sans-serif;
	  font-size: 16px;
	  line-height: 42px;
	  text-transform: uppercase;
	  text-shadow: 0 2px white, 0 3px #777;
}

h4 {
    width: 500px;
    margin: 1em 0 0.5em 0;
	  color: #343434;
	  font-weight: normal;
	  font-family: 'Ultra', sans-serif;
	  font-size: 14px;
	  line-height: 42px;
	  text-transform: uppercase;
	  text-shadow: 0 2px white, 0 3px #777;
}

p {
    width: 500px;
}

table {
    width: 50%;
    border: 1px dashed gray;
}

caption {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    color: #0066CC;
}

th {
    background-color: #D3E2ED;
    color: #666666;
}

.org-src-container {
    background-color: #FAFAD2;
    border-radius: 15px;
}
